.NavFrame {
    background-color: #2b2d42;
    color: white;
    padding: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    font-family: "Baskerville", "Cambria", "Cochin", "Georgia", "Times",
        "Times New Roman", serif;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    height: 5rem;
}

.NavLogo {
    position: fixed;
    left: 3rem;
    top: 1.25rem;
    height: 2.5rem;
}

.NavButton {
    padding-left: 3rem;
    display: inline-block;
    cursor: pointer;
}

.NavButton:hover {
    text-decoration: underline;
}

.NavButton.HamIcon {
    display: none;
    padding-left: 0;
}

.NavButton.HamIcon:hover {
    text-decoration: none;
}

.NavButton.HamOpt {
    display: inline-block;
    padding-left: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

@media only screen and (max-width: 1100px) {
    .NavButton {
        display: none;
    }

    .NavButton.HamIcon {
        display: inline-block;
    }
}

@media only screen and (min-width: 1100px) {
    .HamburgerMenu {
        display: none !important;
    }
}

.HamburgerMenu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
    transition: 300ms opacity cubic-bezier(1,0,.36,1), 300ms transform cubic-bezier(1,0,.36,1);

    position: fixed;
    top: 6rem;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: "Baskerville", "Cambria", "Cochin", "Georgia", "Times",
        "Times New Roman", serif;
    z-index: 998;
    background-color: #2b2d42;
    text-align: right;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
}

.HamburgerMenu.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
