.TestimonialFrame {
    border-radius: 1rem;
    border: 2px solid #2b2d42;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #ebfaff;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}

.TestimonialImage {
    width: 80%;
    margin: auto;
}

.TestimonialHeader {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Baskerville", "Cambria", "Cochin", "Georgia", "Times",
        "Times New Roman", serif;
}

.TestimonialContent {
    font-weight: light;
    font-size: 12px;
    line-height: 1.5em;
}

.TestimonialCredit {
    font-style: italic;
}

/* Yes I know this style of setting mobile as special is not ideal. It is what is simpler rn */
@media screen and (max-width: 500px) {
    .TestimonialFrame {
        grid-template-columns: 1fr;
    }
    .TestimonialImage {
        /* Incredibly crude way of fullscreening the image to the top, assuming parent padding = 2rem */
        margin-left: -2rem;
        margin-top: -2rem;
        width: calc(100% + 4rem);
    }
}

.ProgrammeFrame {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 2rem;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #2b2d42;
}
.ProgrammeFrame:nth-of-type(even) {
    background-color: #ebfaff;
}
@media screen and (max-width: 500px) {
    .ProgrammeFrame {
        display: block;
    }
    .ProgrammeImage {
        height: 10rem;
        width: 10rem;
        margin-bottom: 2rem;
    }
}

.ProgrammeImage {
    width: 60%;
    margin: auto;
    filter: brightness(0) saturate(100%) invert(13%) sepia(18%) saturate(1450%)
        hue-rotate(196deg) brightness(86%) contrast(83%);
}

.ProgrammeHeader {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Baskerville", "Cambria", "Cochin", "Georgia", "Times",
        "Times New Roman", serif;
}

.ProgrammeButton {
    background-color: #ef233c;
    color: white;
    text-align: center;
    line-height: normal;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    display: inline-block;
}
